@{
    ViewBag.Title = "Home Page";
}

<div class="dashboard3Col">
    <div class="dashboardCol">
        @Html.Action("EmployeesDashboard")
    </div>
    <div class="dashboardCol">
        @Html.Action("AllocationsDashboard")
    </div>
    <div class="dashboardCol">
        @Html.Action("PracticeHeadCount")
    </div>
</div>